@model IEnumerable<Hotel.Models.FacilitiesList>

@{
    ViewData["Title"] = "Facilities List";
}

<h1>Facilities List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FacilityDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacilityDesc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FacilityID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FacilityID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FacilityID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
