@model IEnumerable<Tutorias.Models.EmpJobPosition>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpPosition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpPosition)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpJobPositionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmpJobPositionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpJobPositionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
